body {
    margin: 0;
    font-size: 19px;
    font-family:'Times New Roman';
    font-weight: bold;
    box-sizing: border-box;
    background: linear-gradient(to right, #0f00, transparent, #ff9);
    min-width: 100vw;
    min-height: 100vh;
    line-height: 1.5;
    
}



.contenedor {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ff9, transparent, #ada);
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans';
    gap: 40px;

   
}

.contenido {
    margin: 6px;
    padding: 6px;
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    
}
    


h1 {
    font-size: 45px;
    
}

h2 {
    text-align: center;
    font-style: italic;
    color: #f009;
    font-size: 22px;
}

h3{
   
    font-style: italic;
    color: #f009;
    font-size: 37px;
}



.titulo {
    margin: 0;
    display: inline-block;

}

nav {
    display: flex;
    justify-content: end;
}


nav a {
    margin: 90px;
    padding: 10px;
    background-color: #111;
    border: 4px solid red;
    border-radius: 15px;
}

a{
    display: flex;
    text-decoration: none;
    color: #fff;
}


a:hover {
    color: #f009;
}


.logo{
    justify-content: center;
    align-items: center;
}



.imagen1{
    width: 100vw;
    height: 45vh;
     border-top-left-radius: 17px;  /* esquina arriba izquierda redonda */
    border-bottom-right-radius: 147px; /* esquina abajo derecha redonda */
}


.img {
    width: 60px;
    height: 60px;

}

.galeria {
  display: flex;
  flex-wrap: wrap;       /* Salto de línea automático */
  justify-content: center;
  gap: 20px;             /* Espacio entre tarjetas */
  margin: 20px 0;
}

.card {
  text-align: center;     /* Centra el texto debajo de la imagen */
  width: 250px;           /* mismo ancho que la imagen */
}

.card p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize; /* primera letra en mayúscula */
  text-align:center;
}


.imagenes {
  border: #111 3px solid;
  border-radius: 10px;
  height: 200px;
  width: 100%;           /* se adapta al ancho del card */
  object-fit: cover;     /* recorta la imagen sin deformarla */
}





.section {
    margin: 5px;
    padding: 5px;
    text-align: left;

}



aside {
    display: flex;
    flex-direction: column; /* Sus elementos internos (noticias) uno debajo del otro */
    gap: 20px; /* separación entre noticias */
   background-color: #f9f9f9; /* gris muy claro */
   padding: 15px;
   margin: 10px;
   border-radius: 8px; /* esquinas redondeadas */
   box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* sombra sutil */
   
}







p {
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    text-align: left;
}


footer {
 
  background: #333;
  color: #fff;
  padding: 15px;
  margin-top: 10px;

}

footer p {
    text-align: center;
}

li{
    margin-bottom: 15px;
    line-height: 1.9;
}




